.toolbar {
    // position: absolute;
    // top: 0;
    // left: 0;
    // right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
}

.toolbar img {
    margin: 0 16px;
}

.spacer {
    flex-grow: 1;
}

#search-bar {
    width: 100%;
    box-sizing: border-box;
    padding: 10px 10px 0 10px;
    display: flex;
}

#search-form-field {
    z-index: 5;
    width: 100%;
}

#map {
    // margin-top: 60px;
    height: calc(100% - 225px);
}