<div id="dashboard-container">

  <!-- Toolbar -->
  <div class="toolbar" role="banner">
    <img alt="Coronav Logo"
      src="../../../assets/icons/icon-48x48.png" />
    <span>Coronav</span>
    <div class="spacer"></div>
    <button mat-raised-button color="primary" style="margin-right: 16px;" (click)="openDrawer()">Rate your area</button>
  </div>

  <div id="search-bar">
    <mat-form-field id="search-form-field">
      <mat-label>Search</mat-label>
      <input matInput placeholder="Enter your search terms" [(ngModel)]="searchTerms" (keydown.enter)="search()">
    </mat-form-field>
    <button mat-icon-button color="primary" aria-label="Example icon-button with a heart icon" (click)=search()>
      <mat-icon>search</mat-icon>
    </button>
  </div>

  <div id="map"></div>

  <!-- <div id="map-sliders">
  <div>
    Day: {{days[currentDay]}}
    <span class="spacer"></span>
    <mat-slider min="0" max="6" thumbLabel tickInterval="1" [displayWith]="getDayFromIndex" [(ngModel)]="currentDay"
      (change)="changeInDateTime($event)"></mat-slider>
  </div>
  <div>
    Time: {{getHourFromIndex(currentHour)}}
    <span class="spacer"></span>
    <mat-slider min="0" max="23" thumbLabel tickInterval="1" [displayWith]="getHourFromIndex" [(ngModel)]="currentHour"
      (change)="changeInDateTime($event)"></mat-slider>
  </div>
</div> -->

  <div id="map-selects">
    <mat-form-field>
      <mat-label>Choose Day</mat-label>
      <mat-select [disabled]="!places" [(value)]="currentDay" (selectionChange)="changeInDateTime($event)">
        <mat-option *ngFor="let d of days; index as i" [value]="i">{{d}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Choose Time</mat-label>
      <mat-select [disabled]="!places" [(value)]="currentHour" (selectionChange)="changeInDateTime($event)">
        <mat-option *ngFor="let h of [].constructor(24); index as i" [value]="i">{{getHourFromIndex(i)}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>